<h1>Listing all tasks</h1>

<%=form_for @task do |f|%>
  <%=f.text_field :title, :placeholder => 'Title' %>
  <%=f.submit%>
<%end%>

<ul>
  <%@tasks.each do |task|%>
    <li>
      <%= task.title %> -
      <%=link_to 'edit', "/tasks/#{task.id}/edit" %> |
      <%=link_to 'delete', "/tasks/#{task.id}", :method => :delete %>
    </li>
  <%end%>
</ul>

