<%=form_for @task do |f|%>
  <%=f.text_field :title, :placeholder => 'Title' %>
<%end%>

<ul>
  <%@tasks.each do |task|%>
    <li>
      <%if task.is_complete %>
        <s><%= task.title %>(<%=task.priority.to_i%>)</s>
      <%else%>
        <%= task.title %> (<%=task.priority.to_i%>)
      <%end%>
      -
      <%=link_to 'edit', "/tasks/#{task.id}/edit" %> |
      <%=link_to 'delete', "/tasks/#{task.id}", :method => :delete %>
    </li>
  <%end%>
</ul>

