<%=form_for @task do |f|%>
  <%=f.text_field :title, :placeholder => 'Title' %>
<%end%>

<ul id='task-list'>
  <%@tasks.each do |task|%>
    <li data-taskid=<%=task.id%>>
    <input type='checkbox' class='task-iscomplete' <%="checked='checked'" if task.is_complete%> >
    <span>
      <%if task.is_complete %>
        <s><%= task.title %></s>
      <%else%>
        <%= task.title %>
      <%end%>
    </span>
      -
      <%=link_to 'delete', "/tasks/#{task.id}", :class => 'delete-task'%>
    </li>
  <%end%>
</ul>

<script type='text/html' id='task-template'>
  <li data-taskid='<%%=id%>'>
    <input type='checkbox' class='task-iscomplete' <%%= is_complete ? "checked='checked'" : "" %>>
    <%% if(is_complete){ %>
        <span><s><%%=title%></s></span>
    <%%}%>
    <%% if(!is_complete){ %>
    <span><%%=title%></span>
    <%%}%>
    -
    <a href='/tasks/<%%=id %>' class='delete-task' rel='nofollow'>delete</a>
  </li>
</script>
