<%=form_for @task do |f|%>
  <%=f.text_field :title, :placeholder => 'Title' %>
<%end%>

<ul id='task-list'>
  <%@tasks.each do |task|%>
    <li data-taskid=<%=task.id%>>
    <input type='checkbox' class='task-iscomplete' <%="checked='checked'" if task.is_complete%> >
    <span>
      <%if task.is_complete %>
        <s><%= task.title %></s>
      <%else%>
        <%= task.title %>
      <%end%>
    </span>
      -
      <%=link_to 'edit', "/tasks/#{task.id}/edit" %> |
      <%=link_to 'delete', "/tasks/#{task.id}", :method => :delete, :class => 'delete-task'%>
    </li>
  <%end%>
</ul>


<script type="text/javascript">
  $(".delete-task").click(function(){

      var url = $(this).attr('href');
      var deleteLink = $(this);

      $.post(url, { "_method": 'delete' },
          function() {
          var li = deleteLink.parent();
          li.hide('slow', function(){
            $(this).remove();
          });
          },
      'html');

      return false;
  });

  $("#new_task").submit(function(){
      var title = $("#task_title").val();
      $.post('/tasks',{"task[title]": title}, function(response){
        var html = "<li>" + response.title +
        " - <a href='/tasks/"+ response.id + "/edit'>edit</a> | <a href='/tasks/" +
        response.id + "' class='delete-task' data-method='delete' rel='nofollow'>delete</a></li>";

        $("#task-list").append(html);
        $("#task_title").val('');
      },'json')
      return false;
  });

    $(".task-iscomplete").click(function(){
        var taskid = $(this).parent().attr('data-taskid');
        var isChecked = !!$(this).attr('checked');
        var li = $(this).parent();
        $.post("/tasks/"+taskid, {'_method':'put', "task[is_complete]":isChecked},function(response){
          var title = li.find("span").text();
          if(isChecked){
            li.find("span").html("<s>" + title + "</s>");
          }else{
            li.find("span").html(title);
          }
        },'html');
    });
</script>
